body {
  background: black;
  opacity: 80%;
  min-height: 13px;
  max-height: auto;
}

.container {
  width: 1670px;
}

 #header {
    font-family: Arial; 
    color: rgb(240, 126, 126);
    top: 20px;
    text-align: right;
    position: relative;
    min-height: 13px;
    max-height: auto;
}
  #header-github {
  background-color: gray;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 20;
  margin: 5px 20px 15px;
  position: relative;
  left: 100px;
  }

.Title {
    font-family: Arial; 
    color: White;
    top: 5x;
    text-align: center;
    position: relative;
    font-size: 44px;
}

.Instruction {
    font-family: Arial; 
    color: White;
    top: 5x;
    text-align: center;
    position: relative;
    font-size: 20px;
    margin-top: 20px;
}

.namePlate {
    font-family: Arial; 
    color: White;
    top: 40px;
    text-align: center;
    position: relative;
    font-size: 20px;
    margin-top: 20px;
}
#playerName {
  position: relative;
  right: 275px;
  font-size: 30px;
}
#computerName {
  position: relative;
  left: 275px;
  font-size: 30px;
}

.score {
    font-family: Arial; 
    color: White;
    top: 30px;
    text-align: center;
    position: relative;
    font-size: 40px;
    margin-top: 20px;
}
#playerScore {
  position: relative;
  right: 330px;
  font-size: 30px;
}
#computerScore {
  position: relative;
  left: 310px;
  font-size: 30px;
}

.picFrame {
    font-family: Arial; 
    color: White;
    position: absolute;
    top: 450px;
    left: 1040px;
    font-size: 100px;
}
#playerFrame {
  background-color: white;
  border: 125px solid white;
  border-radius: 50%;
  opacity: 110%;
  right: 415px;
  position: absolute;
  color: black;
  bottom: -175px;
}
#computerFrame {
  background-color: white;
  border: 125px solid white;
  border-radius: 50%;
  opacity: 110%;
  left: 5px;
  position: absolute;
  bottom: -175px;
}
#playerPick {
  position: absolute;
  color: black;
  right: 485px;
}
#computerPick {
  position: absolute;
  color: black;
  left: 80px;
}

.choices {
    font-family: Arial; 
    top: 500px;
    text-align: center;
    position: relative;
    font-size: 100px;
}
#rock {
  border: 10px solid gray;
  border-radius: 50%;
  font-size: 100px;
  cursor: pointer;
}
#paper {
  border: 15px solid white;
  border-radius: 50%;
  font-size: 100px;
  cursor: pointer;
}
#scissors {
  border: 15px solid red;
  border-radius: 50%;
  font-size: 100px;
  cursor: pointer;
}

#rock:hover, #paper:hover, #scissors:hover {
  font-size: 113px;
}

h2 {
  color: white;
  font-family: Arial; 
  font-weight: 30;
  bottom: 220px;
  text-align: right;
  position: relative;
  right: 70px;
  text-decoration: underline;
}
#scores {
  color: white;
  font-family: Arial; 
  font-weight: 30;
  bottom: 220px;
  text-align: right;
  position: relative;
  right: 30px;
  font-size: medium;
  list-style-type: none;
}

#announce {
  color: white;
  font-family: Arial; 
  font-weight: 30;
  bottom: 380px;
  text-align: center;
  position: relative;
  right: 10px;
  font-size: 60px;
}